body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2% 8%;
}
table,
th,
td {
  border: 1px solid;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 4px 8px;
}
