body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2% 8%;
}
form {
  margin-bottom: 2em;
}
table,
th,
td {
  border: 1px solid;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}
th,
td {
  text-align: left;
  padding: 4px 8px;
}
li {
  line-height: 1.4;
}
